$minwidth: 320px;
$mw: 1222; // .+24 ?? ширина контейнера ВСЕГДА!! на основании нее остальные брейкпойнты
$md1: $mw+12;
$md2: 992.98; //планшет
$md3: 768.98; //бол смартфон
$md4: 381.98; //мал смартфон

@media(max-width: $md3+px){
   .welcome {

		&__content {
		}

		&__img {
		}

		&__text {
         h1 {
            font-size: 35px;
         }
		}
     
}
.container {
}
.text {
}
.button {

		&__more {
		}
}

}