
// Кастомные стили
 
.image-slider {
	padding: 10px 0 0px 0;
   overflow: hidden; //чтобы остальные слайды не вылезали при переключении
}
.image-slider__wrapper {

}
.image-slider__slide {
   width: 100%;
}
.image-slider__image {
}
.image-slider .swiper-slide {
height: 383px; //высота слайдов

}
.image-slider__image img {
     max-width: 100%;
     max-height: 100%;
      object-fit: cover;
}

/* Пагинация */
.image-slider .swiper-pagination {
	bottom: 30px;
  position: relative; // положение относитель слайдера посередине
  bottom: -10px;
  z-index: 3;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: #000;
   right: 20%;
 
}